header {
    background-color: #9E7005;
}


body {
    background-color:#E3B64B;
    margin: 0px;
    text-align: center;
}

.lower img {
    max-width: 20%;
    height: auto;
}

.lower h1 {
    font-size: 40px;
}

.lower {
    font-size: 20%;
}